<html>
    <head>
        <title>Assignement</title>
    </head>
    <body>
        <h1>Menu:</h1>
            <a href="/mentors" >Mentors and schools page</a>
            <a href="/all-school" >All school page</a>
            <a href="/mentors-by-country" >Mentors per country page</a>
            <a href="/contacts" >Contacts page</a>
            <a href="/applicants" >Applicants page</a>
            <a href="/applicants-and-mentors" >Applicants and mentors page</a>
        {% block content %}{% endblock %}
    </body>
</html> 